@model LoginIdentity.Models.Usuario

    @{
        ViewBag.Title = "Login";
    }

    <h2>Login</h2>

    @Html.ValidationSummary(true)

    @using (Html.BeginForm())
    {
        @Html.EditorForModel()
        <p>
            <button class="form-control" type="submit">Entrar</button>
        </p>

    }
